@page
@model NET1704_221_ASM3_SE172587_NguyenNgoThanhNha.RazorPage.Pages.Tutors.CreateModel
@{
}


<div class="bg-white p-4 mx-auto max-w-2xl rounded-lg shadow-lg">
    <div class="d-flex justify-content-center">
        <h1 class="mb-4 fw-bold text-2xl">Add Tutor</h1>
    </div>
    <div class="bg-light p-4">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Tutor.Fullname" class="form-label text-gray-700">Name</label>
                <input asp-for="Tutor.Fullname" class="form-control" />
                <span asp-validation-for="Tutor.Fullname" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Tutor.Email" class="form-label text-gray-700">Email</label>
                <input asp-for="Tutor.Email" class="form-control" />
                <span asp-validation-for="Tutor.Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Tutor.Phone" class="form-label text-gray-700">Phone</label>
                <input asp-for="Tutor.Phone" class="form-control" />
                <span asp-validation-for="Tutor.Phone" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Tutor.Address" class="form-label text-gray-700">Address</label>
                <input asp-for="Tutor.Address" class="form-control" />
                <span asp-validation-for="Tutor.Address" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Tutor.Gender" class="form-label text-gray-700">Gender</label>
                <select asp-for="Tutor.Gender" class="form-select">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Tutor.Gender" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Tutor.Dob" class="form-label text-gray-700">Dob</label>
                <input asp-for="Tutor.Dob" type="date" class="form-control" />
                <span asp-validation-for="Tutor.Dob" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-end gap-2">
                <a href="/tutors/list" class="btn btn-secondary">Back to List</a>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>



